# Project information
site_name: Suedbroecker Example
site_url: https://www.suedbroecker-example.de
site_author: Thomas Südbröcker

# Repository
repo_name: Suedbroecker Example
repo_url: https://github.com/thomassuedbroecker/suedbroecker-example
edit_uri: edit/master/documentation
docs_dir: documentation

# Navigation
nav:
  - Introduction: README.md
  - OpenShift:
    - OpenShift overview: openshift-overview.md
  - Operators:
    - Go Operators overview: go-operators-overview.md

## DO NOT CHANGE BELOW THIS LINE

# Copyright
# Thomas Suedbroecker

# Theme
theme:
  name: material
  font:
    text: IBM Plex Sans
    code: IBM Plex Mono
  icon:
    logo: material/library
  features:
    # - navigation.tabs
    - navigation.instant
    - navigation.expand
  palette:
    scheme: default
    primary: blue
    accent: blue

# Plugins
plugins:
  - search

# Customization
# TBD

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde