name: git-action-mkdocs-ci
run-name: ${{ github.actor }} is deploying `suedbroecker-example` with GitHub Actions
on:
  push:
    branches:
      - main
permissions:
   actions: write
#  contents: read
#  pages: write
#  id-token: write
concurrency:
  group: "pages"
  cancel-in-progress: true
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 1-Checkout
        uses: actions/checkout@v2
      - name: 2-Setup python
        uses: actions/setup-python@v3
        with:
          python-version: '3.9' 
      - name: 3-Install mkdocs
        run: pip install mkdocs-material
      - name: 4-Deploy mkdocs
        run: mkdocs gh-deploy --force
